.App {
  text-align: center;
}

.body-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#sidebar {
  position:absolute;
  top:0px;
  left:-200px;
  width:200px;
  height:100%;
  background:#151719;
  transition:all 300ms linear;
}

#sidebar.active {
  left:0px;
}

#sidebar #toggle-btn {
  position:absolute;
  left:220px;
  top:10px;
}

