.App {
  text-align: center;
}

a:hover {
  text-decoration: none;
}
.body-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content-container{
  max-width: 100%;
  margin: 30px auto 0;
  transition: 300ms linear;
}

#sidebar {
  padding: 20px;
  position:fixed;
  top:0px;
  left:-225px;
  width:225px;
  height:100%;
  background-color: #99caff;
  transition:all 300ms linear;
}

#sidebar.active {
  left:0px;
}

#logincard {
  padding: 20px;
  background-color: #99caff;
}

#taskcard {
  padding: 20px;
  background-color: #d4e9ff;
}

#toggleBtn {
  position:absolute;
  left:250px;
  top:25px;
}

